<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 헤드 라인 -->
<th:block th:replace="includes/head :: headFragment"></th:block>
<body>
<!-- 헤더 라인 -->
<th:block th:replace="includes/header :: headerFragment"></th:block>
<!-- 메인 라인 -->
<div class="wrapper">
    <div class="swiper">
        <!-- 스와이프 영역 -->
        <div class="swiper-wrapper">
            <!-- 슬라이드 -->
            <div class="swiper-slide">
                <img src="images/slide_1.png" alt="슬라이드1"/>
            </div>
            <div class="swiper-slide">
                <img src="images/slide_2.png" alt="슬라이드2"/>
            </div>
            <div class="swiper-slide">
                <img src="images/slide_3.png" alt="슬라이드3"/>
            </div>
            <div class="swiper-slide">
                <img src="images/slide_4.png" alt="슬라이드4"/>
            </div>
            <div class="swiper-slide">
                <img src="images/slide_5.png" alt="슬라이드5"/>
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<!-- 배너 라인 -->
<div class="banner">
    <div class="bannerLeft" id="openPopupButton">
        <img src="images/floating2.png" alt="문의하기"/>
        <h2>문의하기</h2>
    </div>
    <div
            class="bannerRight"
            onclick="document.location.href='tel:010-3717-7406'"
    >
        <img src="images/floating1.png" alt="전화상담"/>
        <h2>전화상담</h2>
        <h3>010-3717-7406</h3>
    </div>
    <div class="bannerBottom" onclick="navigateTo('체험하기')">
        <img src="images/floating3.png" alt="체험하기"/>
        <h2>체험하기</h2>
    </div>
    <div class="bannerBottom" onclick="navigator('구축사례')">
        <img src="images/floating3.png" alt="구축사례"/>
        <h2>구축사례</h2>
        <h3>(고객사)</h3>
    </div>
</div>
<div class="bannerBottom2" onclick="navigateTo('체험하기')" style="cursor: pointer;">
    <img src="images/floating3.png" alt="체험하기"/>
    <h2>배차관리 무료 체험하기</h2>
</div>

<!-- 팝업창 -->
<th:block th:replace="pop_up :: popUpFragment"></th:block>
<th:block th:replace="pop_up_overlay :: popUpOverlayFragment"></th:block>

<!--! 푸터 -->
<th:block th:replace="includes/footer :: footerFragment"></th:block>

</body>
</html>
