<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>
        <div>
            <a href="https://m.blog.naver.com/kiwontech2">
                <img src="images/footer_blog.png" alt="홍보블로그"/>
            </a>
            <a href="https://youtu.be/UYOVB-HeA-s"><img src="images/footer_movie_1.png" alt="홍보영상1"/></a>
            <a href="https://youtu.be/jfT4asf-23Y"><img src="images/footer_movie_2.png" alt="홍보영상2"/>
            </a>
        </div>
        <div>
            <address>
                주소 기원테크(주) | 서울특별시 구로구 디지털로31길 53
                이앤씨벤처드림타워5차 509호<br/>
                메일 : <a href="315@kiwontech.com">100@kiwontech.com</a>
                <br/>
                대표전화 : <a href="tel:+820260127406">(+82) 02-6012-7406</a>
                <br/>
                <a href="tel:010-3717-7406">010-3717-7406</a>
            </address>
        </div>
    </footer>

    <script src="js/index.js"></script>
    <script src="js/pop_up.js"></script>
    <script src="js/telAPI.js"></script>
    </body>
</th:block>
</html>