<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header>
        <div class="inner">
            <h1 class="logo" onclick="navigateTo('메인')">
                <img src="images/logo.png" alt="로고"/>
            </h1>
            <div class="search">
                <span class="material-symbols-outlined" id="micIcon">mic</span>
                <input type="text" id="searchBar" placeholder="검색어를 입력하세요" autocomplete="on"/>
                <div class="autocomplete"></div> <!-- 자동완성 단어 리스트 -->
            </div>
            <div class="voice-notification" id="voiceNotification">
                <div class="dot-pulse"></div>
                <p>음성 인식 중</p>
            </div>
        </div>
    </header>
</th:block>
</html>