<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header>
        <div class="inner">
            <h1 class="logo" onclick="navigateTo('메인')">
                <img src="images/logo.png" alt="로고"/>
            </h1>
            <div class="search">
                <span class="material-symbols-outlined" id="micIcon">mic</span>
                <span class="material-symbols-outlined" id="searchIcon">search</span>
                <input type="text" id="searchBar" placeholder="검색어를 입력하세요" autocomplete="on"/>
                <div class="autocomplete"></div> <!-- 자동완성 단어 리스트 -->
            </div>
            <!-- 음성 인식 중 알림 -->
            <div id="voiceNotification" class="voice-notification">
                음성 인식 중...
            </div>
            <div class="container">
                <div class="menu-button" id="menuButton">
                    <span class="material-symbols-outlined"> menu </span>
                </div>
                <div class="side-menu" id="sideMenu">
                    <div class="close-button">
                        <span id="closeButton">&times;</span>
                    </div>
                    <ul>
                        <ul>
                            <li>
                                <p>회사소개</p>
                                <div class="accordion-content">
                                    <a href="/about_us">인사말</a>
                                    <a href="/about_us">오시는 길</a>
                                    <a href="/about_us">보도자료</a>
                                </div>
                            </li>
                            <li>
                                <p>제품소개</p>
                                <div class="accordion-content">
                                    <a href="#">기원골재 소개(특징,장점,동영상)</a>
                                    <a href="#">구축사례(고객사)</a>
                                </div>
                            </li>
                            <li>
                                <p>고객지원</p>
                                <div class="accordion-content">
                                    <a href="#">문의 글 남기기</a>
                                    <a href="#">전화 상담</a>
                                    <a href="#">자주 묻는 질문</a>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>